.buttonCSS1 {
    background-image: url(EnocIcons/1.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS2 {
    background-image: url(EnocIcons/2.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS3 {
    background-image: url(EnocIcons/3.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS4 {
    background-image: url(EnocIcons/4.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS5 {
    background-image: url(EnocIcons/5.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS6 {
    background-image: url(EnocIcons/6.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS7 {
    background-image: url(EnocIcons/7.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS8 {
    background-image: url(EnocIcons/8.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS9 {
    background-image: url(EnocIcons/9.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS10 {
    background-image: url(EnocIcons/10.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS11 {
    background-image: url(EnocIcons/11.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS12 {
    background-image: url(EnocIcons/12.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS13 {
    background-image: url(EnocIcons/13.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS14 {
    background-image: url(EnocIcons/14.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS15 {
    background-image: url(EnocIcons/15.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS16 {
    background-image: url(EnocIcons/16.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS17 {
    background-image: url(EnocIcons/17.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS18 {
    background-image: url(EnocIcons/18.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS19 {
    background-image: url(EnocIcons/19.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS20 {
    background-image: url(EnocIcons/20.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}
