 AddType application/x-javascript .jsgz    
 AddType application/octet-stream .datagz
 AddType application/wasm .wasm
 AddType application/wasm .wasmgz
 
 RewriteEngine on 
 # If client accepts compressed files 
 RewriteCond %{HTTP:Accept-Encoding} gzip 
 # and if compressed file exists 
 RewriteCond %{REQUEST_FILENAME}gz -f 
 # send .extgz instead of .ext 
 RewriteRule ^(.+)\.(mem|js|data|symbols|wasm)$ $1.$2gz
 
 AddEncoding gzip .jsgz 
 AddEncoding gzip .datagz
 AddEncoding gzip .memgz
 AddEncoding gzip .symbolsgz
 AddEncoding gzip .wasmgz
 
RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} “.*Safari.*” [OR]
RewriteCond %{HTTP:Accept-Encoding} !gzip
RewriteRule (.*).jgz$ $1.js [L]

AddType “text/javascript;charset=UTF-8” .jgz
AddEncoding gzip .jgz