.scroller {
    width: auto;
    height: auto;
    overflow-x: auto;
    display: none;
}

.container {
    position: fixed; /*important for the .position() method */
    height: auto;
    width: auto;
    background-image: linear-gradient(to top, rgba(81,167,183,1), rgba(255,255,255,0.01));
    white-space: nowrap;
    height: auto;
    width: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}


#container {
    display: block;
}

@media only screen and (orientation:portrait) {

    #containerBody {
        height: 100vw;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@media only screen and (orientation:landscape) {

    #containerBody {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


.buttonCSS1 {
    background-image: url(../EnocIcons/1.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS2 {
    background-image: url(../EnocIcons/2.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS3 {
    background-image: url(../EnocIcons/3.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS4 {
    background-image: url(../EnocIcons/4.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS5 {
    background-image: url(../EnocIcons/5.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS6 {
    background-image: url(../EnocIcons/6.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS7 {
    background-image: url(../EnocIcons/7.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS8 {
    background-image: url(../EnocIcons/8.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS9 {
    background-image: url(../EnocIcons/9.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS10 {
    background-image: url(../EnocIcons/10.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS11 {
    background-image: url(../EnocIcons/11.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS12 {
    background-image: url(../EnocIcons/12.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS13 {
    background-image: url(../EnocIcons/13.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS14 {
    background-image: url(../EnocIcons/14.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS15 {
    background-image: url(../EnocIcons/15.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS16 {
    background-image: url(../EnocIcons/16.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS17 {
    background-image: url(../EnocIcons/17.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS18 {
    background-image: url(../EnocIcons/18.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS19 {
    background-image: url(../EnocIcons/19.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.buttonCSS20 {
    background-image: url(../EnocIcons/20.png);
    background-size: 80px 80px;
    background-color: rgba(255,255,255,0.01);
    height: 80px;
    width: 80px;
    bottom: 0;
    top: 0;
    border: none;
}

.menuOverlay {
    position: fixed;
    background-image: linear-gradient(to top, rgba(81,167,183,1), rgba(255,255,255,0.01));
    overflow: auto;
    white-space: nowrap;
    height: auto;
    width: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    float: bottom;
}

#id01 {
    display: none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    width: 100%; /* You can set this width to whatever suits your needs */
    margin: 0 auto;
}

    .videoWrapper video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
